# сборка / build
*.exe
_build/
build/
dist/
*.spec
icon.ico
__pycache__/
*.pyc

# отладка / debug output
debug/
record/

# настройки портативного режима / portable-mode settings
settings/
*.npz
!/assets/*.npz
/program/
/hotbar/
/logs/
/report_*.zip
/_internal/
